
.heart-img{
    width:120px;
    margin-left: 20px;
    margin-top: 10px;

    transition: transform 0.3s ease; 
    height: auto;
}

.title-box:hover .heart-img {
    transform: scale(1.2);
}


.big-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Space between the boxes */
}

.container1{
    width: 350px; /* Fixed width for each box */
  
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Space between the boxes */
}

.item{
    width: 350px; /* Fixed width for each box */
    
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    margin: 0px 0px 20px 0px;
    padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}

.dash-img{
    border-radius: 50px;
    width: 300px;
    margin-left: 25px;
}

/* @media (max-width: 600px) {
    .container1 {
      flex: 1 1 100%; 
    }
} */