
nav {
  display: flex;
  flex-direction: row;
  height: 70px; 
  background-color: rgba(64, 64, 64, 0.8);
  top: 0; 
  right: 0; 
  left:0; 
  position: fixed; 
  z-index: 100;
  justify-content: space-between;
  font-size: 10;

  /* align-items: left; */
  /* display: inline-block; THIS CENTERS THEM*/
  /* text-justify: auto; */

  align-items: center;
  justify-content: flex-end; 

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  


  .click{
    margin: 0px 10px 0px 10px;
    display: inline-block;
    text-justify: auto;
    font-size:x-large;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  
  }

  .clickLast{
    margin: 0px 30px 0px 10px;
    display: inline-block;
    text-justify: auto;
    font-size:x-large;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  
  }